#KULLANICI ARAYÜZÜNDE ÇALIŞAN KOD
import tkinter  #KÜTÜPHANE
from tkinter import messagebox

#Tk CLASSINDAN BİR NESNE OLUŞTURDUM(pencere)
pencere = tkinter.Tk() #Tk classı
pencere.title("Kişisel Not ve Görev Yöneticisi")
pencere.geometry("500x450")

#FONKSİYONLAR

def add_task():
    task = task_entry.get()
    if task == "":
        messagebox.showwarning("Uyarı", "Görev Boş Olamaz")
    else:
        task_listbox.insert(tkinter.END, task)
        task_entry.delete(0, tkinter.END)


def delete_task():
    try: 
        selected_index = task_listbox.curselection()[0]
        task_listbox.delete(selected_index)
    except: 
        messagebox.showwarning("Uyarı", "Lütfen silinecek görevi seçin")

def clear():
    note_text.delete("1.0", tkinter.END)
    

#BAŞLIK
title_label = tkinter.Label(pencere, text="Kişisel Not ve Görev Yöneticisi", font=("Arial", 14))
title_label.pack(pady=10) #pencerede göstermesi için

#GÖREV GİRİŞİ
task_label = tkinter.Label(pencere, text="Görev Gir: ")
task_label.pack()

task_entry = tkinter.Entry(pencere,width=40)
task_entry.pack(pady=5)

#BUTONLAR
add_button = tkinter.Button(pencere, text="Görev Ekle", command=add_task)
add_button.pack(pady=5)

delete_button = tkinter.Button(pencere, text="Görevi Sil", command=delete_task)
delete_button.pack(pady=5)

task_listbox = tkinter.Listbox(pencere, width=50, height=5)
task_listbox.pack(pady=10)

note_label = tkinter.Label(pencere, text="Notlar: ")
note_label.pack()

note_text = tkinter.Text(pencere, width=50, height=5)
note_text.pack(pady=5)

clear_button = tkinter.Button(pencere, text="Notları Temizle", command=clear)
clear_button.pack(pady=5)


pencere.mainloop()
